<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" type="image/ico" href="https://cdn.glitch.com/cbbe5c66-fe51-47a6-bbe2-3980fcee7aef%2Fcbbe5c66_fe51_47a6_bbe2_3980fcee7aef_icon_72x72_1BV_icon.ico?v=1565967154822">
    <title>skEditor</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/index.css">
    <link rel="manifest" href="/manifest.json">
  </head>
  <body>
    <div class="main">
      <div class="wrapper">
        <h1 class="title">Skript Editor</h1>
        <p class="text-wrapper">skEditor is a web application tool allowing you to easily edit your skript applications.
        </p>
        <a href="https://skript-editor.glitch.me/app" class="app">Open The App</a>
      </div>
    </div>
    <div class="features">
      <h1>
        Now, what is Skript?
      </h1>
      <p>
        Skript is a coding language that allows you to easily create minecraft plugins. Here is a non minecraft example:
      </p>
      <pre>
        <code>on click on cat:<br>&emsp;play sound "purr"<br>&emsp;make user's phone vibrate<br>
        </code>
      </pre>
      <img id="cat" class="cat" src="https://cdn.glitch.com/cbbe5c66-fe51-47a6-bbe2-3980fcee7aef%2Fkitten-cat-clipart.jpg?v=1565714306319">
      <h1>So, whats this for?</h1>
      <p>Due to the lack of online editors for Skript, we made a Skript Editor!</p>
      <h1>
        Does this editor have multiuser functions?
      </h1>
      <p>
        Yes....well, currently in devlopment
      </p>
      <h1>
        Is it open source?
      </h1>
      <p>
        Yes! <a href="https://glitch.com/~skript-editor">https://glitch.com/~skript-editor</a>
      </p>
      <h1>
        What is Skript?
      </h1>
      <p>
        Skript is a plugin that allows you to customize Minecraft's mechanics with simple scripts written in plain English sentences.<br>
        You can easily create complex custom commands, triggers that execute effects under certain conditions, and scripts that just run periodically<br>
        all without having to know even the slightest bit about programming!<br>
        The (hopefully) intuitive language has the advantage that you don't even need to learn much to be able to use Skript.
      </p>
      <h1>
        Who made this?
      </h1>
      <a href="/contributors/">these people</a>
    </div>
    <script src="scripts/main.js" defer></script>
    <auido id="catsuwu">
      <source src="https://cdn.glitch.com/cbbe5c66-fe51-47a6-bbe2-3980fcee7aef%2FPurring-SoundBible.com-1561515931.wav?v=1565788847182" type="audio/wav">
      <source src="https://cdn.glitch.com/cbbe5c66-fe51-47a6-bbe2-3980fcee7aef%2FPurring-SoundBible.com-1561515931.mp3?v=1565788847609" type="audio/mp3">
    </auido>
  </body>
</html>