<span class="close-button">×</span>
<input type="checkbox" name="blast" id="blast-o" value="blast">Code Blast<br>
<input type="checkbox" name="autocomplete" id="autocomplete-o" checked>Autocompletion<br>
<input type="checkbox" name="blast" id="soft-o" value="soft-tab">Soft Tabbing<br>
<label for="soft-s">Tab Size:</label>
<input type="number" name="tabsize" id="soft-s" value="4" placeholder="Tab Size">